<h1>Pokémon Catalog</h1>
<div id="pokemon-list">
    @if (isLoading()) {
        @for (i of skeletonsCount; track i) {
            <app-pokemon-card-skeleton />
        }
    } @else {
        @for (pokemon of pokemons(); track pokemon.name) {
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        } @empty {
            <p>No Pokémon found.</p>
        }
    }
</div>

@if (!isLoading()) {
    <div class="py-8 flex justify-center">
        <button class="load-more" (click)="loadMore()">Load More</button>
    </div>
}