/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'variables';

body {
    background-color: $background-darker;
    margin: 50px 20px;
}

* {
    color: $white;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

input {
    background-color: $background-light;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid $background-light;
    outline: 0;

    transition: color, background-color, border-color, filter 0.2s;

    &:focus {
        border-color: $background-lighter;
    }

    &::placeholder {
        color: $placeholder;
        font-style: italic;
    }
}

button {
    background-color: $background-light;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid $background-light;

    transition: color, background-color, border-color, filter 0.2s;

    &>i {
        color: $white;
    }

    &:disabled {
        color: $placeholder;
        filter: brightness(0.85);
        cursor: not-allowed;

        &>i {
            color: $placeholder;
        }
    }

    &:not(:disabled) {
        &:hover, &:focus {
            filter: brightness(1.1);
        }

        &:active {
            border-color: $background-lighter;
            background-color: $background-lighter;
        }
    }
}