@import '../variables';

section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 20px auto;
    padding: 30px 40px;
    background-color: $background-dark;
    border-radius: 25px;
}

.header-logo {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}